// RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
#root {
    height: 100%; // make sure they're height of window (fill 100% height)
}

body {
    background: #181818;
}

#root {
    display: flex;
    flex-direction: column;
}

// GLOBAL CLASSES
.text-center {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    color: #fff;
    padding: 8px 5%;


    #remove-underline {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }

    img {
        width: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    h3 {
        font-weight: 400;
        text-decoration: none;
    }


    nav {
        a {
            color: #fff;
            text-decoration: none; //gets rid of underline

            &:not(:last-child) {
                margin-right: 8px;
            }

            &:hover,
            &.active {
                color: #4CAF50;

            }
        }
    }
}



// Hero Section
section.hero {
    display: flex;
    background: #000000;
    width: 100%;
    height: 75vh;
    margin-bottom: 20px;
    padding-top: 10px;

    div.image {
        //need to add size to div or it wont show
        background-image: url('/images/formal-me-no-background.png');
        background-size: contain; //cover tries to make fit
        background-position: center;
        background-repeat: no-repeat;
        min-height: 300px;
        min-width: 50%;
    }
}

div .hero-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    padding: 30px;

    h4 {
        font-size: 2.2rem;
    }

    p {
        font-weight: 300;
        color: #4CAF50;
        font-style: italic;

    }
}



// Work Section
main {
    color: #fff;
    flex: 1;

    h4 {
        margin-bottom: 15px;
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
        border-bottom: solid;
    }

    .about-output {
        background: #000000; //colorzilla match border
        display: flex;
        flex-direction: row-reverse; // Changed to row to align items in columns
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: 75vh;

        div.image {
            //need to add size to div or it wont show
            background-image: url('/images/hike.JPG');
            display: flex;
            background-size: cover; 
            opacity: 0.75; // Corrected opacity value
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100%;
            min-width: 50%;
            
        }

        div.about-text {
            color: #fff;
            display: flex;
            min-width: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            overflow: hidden;
            word-wrap: break-word;

            h4 {
                font-size: 2.2rem;
                color: #4CAF50;
            
            }

            p {
                font-weight: 300;
            }
        }
    }

    .work-output {
        // nested selection
        display: grid;
        grid-template-columns: 1fr 1fr; // only 2 articles per row
        gap: 25px;
        // padding: 10, 3%;
        padding: 15px;
        margin: 20px;

        a {
            text-decoration: none;
            color: inherit;
            display: flex;
            justify-content: center;

        }

        article {
            background-size: cover; // tries to fit
            background-position: center;
            border-radius: 3px; // subtle round edges
            height: 250px;
            color: #FFFFFF;
            

            &:hover  {
                opacity: 50%;
            }

            h3, p {
                text-align: center;
                color: #fff;
            }

            h3 {
                padding: 50px;
                margin-bottom: 7px;
            }

            p {
                font-size: .8rem;
                line-height: 1.3; // this and 1.5 are most common
                padding-bottom: 10px;
            }

            .tag-group {
                position: center;
                line-height: 1.3;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Contact Section
form {
    display: flex; // by default falls left to right
    flex-direction: column; // top to bottom
    width: 500px;
    margin: 0 auto 50px; //centers in the middle of page, 25px bottom margin
    gap: 5px;
    padding-top: 10%;
    background-image: url('/images/mountains.JPG');
    ;

    >* {
        // every direct child element, which is inputs/button
        padding: 7px 12px; // top/bottom left/right
        margin-bottom: 5px;
        border: none; // more modern
    }

    h3 {
        color: #fff;
    }


    p.success {
        color: #4CAF50;
    }

    p.error {
        color: #FF6347;
    }

    input,
    textarea {
        outline: none;
        background: #444;
        border-radius: 3px; // curve around boxes
        color: #fff;

        &::placeholder {
            color: #aaa;
        }
    }

    button {
        background: none; // translucent
        color: #fff;
        border: 2px solid #eee;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            // background on hover
            background: #eee;
            color: #444;
        }
    }
}

// Resume Section

#resume-output {
    padding-top: 25px;
}

.bulleted-list {
    list-style-type: disc;
    padding-left: 20px; /* Optional: Adds some padding to the left */
  }

#resume-download {
    text-decoration: none !important;

}

// Footer
footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
    background: #111111;
    color: #fff;
}

#footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#white-background {
    background-color: #fff;
    border-radius: 2px;
}

footer img {
    max-height: 30px;
}

@media (max-width: 750px) {
    section.hero {
        flex-direction: column;

        div.image {
            min-height: 200px !important;
            background-position: top;
            background-repeat: no-repeat;
        }

        div.hero-text {
            h4 {
                margin-top: 10px;
            }

            p {
                padding: 2px 30px 15px;
            }
        }
    }
}